.page {
  .header {
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #0000001f;
    box-shadow: 0 14px 10px -12px #00000038;
    .logo {
      width: auto;
      display: flex;
      align-items: center;
      flex-direction: row;
      img {
        width: 130px;
        border-radius: 100%;
        background-color: #caba97;
      }
      /* p {
        font-weight: 800;
        font-size: 1.5rem;
        padding-left: 10px;
        text-transform: uppercase;
      } */
    }
    .menu {
      width: auto;
      display: flex;
      align-items: end;
      .page-links {
        display: flex;
        align-items: center;
        list-style-type: none;
        justify-content: space-between;
        li {
          padding: 10px 20px;
          a {
            color: #000000;
            font-size: 1.1rem;
            font-weight: 600;
            text-decoration: none;
          }
        }
      }
    }
  }
  .main {
    width: 80%;
    margin: 0 auto;
    .container {
      h1 {
        /* font-size: 22rem; */
        font-size: 15rem;
        font-weight: 800;
        line-height: 0.9;
        color: transparent;
        text-align: center;
        background-size: cover;
        text-transform: uppercase;
        background-repeat: repeat;
        -webkit-background-clip: text;
        background-position-y: center;
        background-image: url("../../../assets/images/mumbai_background.jpeg");
      }
      p {
        font-weight: 600;
        margin: 20px 0px;
        font-size: 1.5rem;
        text-align: center;
      }
      form {
        width: 100%;
      }
      input {
        width: 60%;
        font-weight: 600;
        font-size: 1.1rem;
        margin-right: 15px;
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid #0000004f;
      }
      button {
        width: 10%;
        font-weight: 600;
        color: #ffffff;
        font-size: 1.1rem;
        padding: 10px 15px;
        border-radius: 10px;
        background-color: #caba97;
        border: 1px solid #0000004f;
      }
    }
  }
  .footer {
    width: 80%;
    margin: 0 auto;
  }
}
