<div class="page">
  <div class="header row">
    <div class="logo col-md-2 d-flex">
      <img src="../../../assets/images/demo.png" alt="soham_developer" />
      <p>Soham Developer</p>
    </div>
    <div class="menu col-md-10 d-flex">
      <div class="page-links">
        <ul class="d-flex">
          <li><a href="#">Home</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main row">
    <div class="container">
      <h1>Coming Soon</h1>
      <p>We're working on something awesome. Stay tuned!</p>
      <form action="#" class="subscribe d-flex justify-content-center">
        <input type="email" placeholder="Enter your email" class="input" />
        <button type="submit">Notify Me</button>
      </form>
    </div>
  </div>
  <!-- <div class="footer row">
    <div class="col-md-12 d-flex flex-row-reverse">
      <p class="copyright">Powered by ApolloCode</p>
    </div>
  </div> -->
</div>
