.page {
  .header {
    width: 80%;
    margin: 0 auto;
  }
  .main {
    width: 80%;
    margin: 0 auto;
    .container {
      h1 {
        font-size: 22rem;
        font-weight: 800;
        line-height: 0.9;
        color: transparent;
        text-align: center;
        background-size: cover;
        text-transform: uppercase;
        background-repeat: repeat;
        -webkit-background-clip: text;
        background-position-y: center;
        background-image: url("../../../assets/images/mumbai_background.jpeg");
      }
      p {
        font-weight: 600;
        margin: 20px 0px;
        font-size: 1.5rem;
        text-align: center;
      }
      form {
        width: 100%;
      }
      input {
        width: 60%;
        font-weight: 600;
        font-size: 1.1rem;
        margin-right: 15px;
        padding: 10px 20px;
        border-radius: 10px;
        border: 1px solid #0000004f;
      }
      button {
        width: 10%;
        font-weight: 600;
        color: #ffffff;
        font-size: 1.1rem;
        padding: 10px 15px;
        border-radius: 10px;
        background-color: #caba97;
        border: 1px solid #0000004f;
      }
    }
  }
}
