<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="logo">
          <img
            src="../../../assets/images/Designer logo (2).png"
            alt="Soham Developers"
          />
        </div>
        <div class="menu">
          <div class="contact">
            <div class="phone">
              <img src="../../../assets/icons/mobile.png" alt="mobile" />
              <span class="contact_number">+911234567890</span>
            </div>
          </div>
          <div class="links">
            <nav>
              <ul class="nav">
                <li>Home</li>
                <li>About Us</li>
                <li class="active">Social Media</li>
                <li>News/Blog</li>
                <li>Memberships</li>
                <li>Profile</li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <main class="main">
        <img
          src="../../../assets/images/Designer_get_bg.jpg"
          alt="background"
          class="bg_img"
        />
        <div class="content">
          <h1 class="coming-soon">COMING SOON</h1>
          <p class="description">
            Our website is under construction. We'll be here soon with our new
            awesome site.
          </p>
          <div class="subscribe">
            <input type="text" placeholder="Enter email here" class="detail" />
            <input type="submit" value="Notify me" class="submit" />
          </div>
        </div>
        <div class="footer">
          <div class="details">
            <div class="log-link">
              <img
                src="../../../assets/images/Designer logo (2).png"
                alt="Logo"
                class="logo"
              />
              <div class="social">
                <img
                  class="social-icon"
                  src="../../../assets/icons/facebook_white.png"
                  alt="Facebook"
                />
                <img
                  class="social-icon"
                  src="../../../assets/icons/twitter_white.png"
                  alt="Twitter"
                />
                <img
                  class="social-icon"
                  src="../../../assets/icons/instagram_white.png"
                  alt="Instagram"
                />
                <img
                  class="social-icon"
                  src="../../../assets/icons/youtube_white.png"
                  alt="Youtube"
                />
              </div>
            </div>
            <div class="company-det">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
                officiis expedita nemo temporibus iusto adipisci vitae totam
                mollitia ipsa. Non dolorum officiis quos minus quaerat voluptate
                tenetur beatae impedit voluptatem!
              </p>
              <div class="contact-detail">
                <div class="address">
                  <img src="../../../assets/icons/gps_white.png" alt="Adress" />
                  <p>Address Location</p>
                </div>
                <div class="open-time">
                  <img src="../../../assets/icons/clock_white.png" alt="Time" />
                  <p>Mon - Fri (9:00AM - 10:00PM)</p>
                  <p>Sat - Sun (8:00AM - 10:00PM)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
